# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Test/cache files
.pytest_cache/

# Database files if local
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db